.menu {
  position: fixed;
  width: 20%;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
  z-index: 1;
  background-color: #4f4f4f;
  transform: translateX(-100%);
  transition: all 0.5s;

  &__title {
    color: #ffffff;
    font-size: 40px;
  }
  &__item {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: transform 0.3s;

    &:hover {
      color: lightgray;
      transform: rotate(90deg);
    }
  }
}