.tabs-wrapper {
  padding: 20px 10px;
  text-align: left;
  color: #4f4f4f;

  &__tabs {
    display: flex;
    z-index: 1;
  }

  &__title {
    display: block;
    margin-bottom: -1px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: 1px solid #919191;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.3s;
    z-index: 1;

    &:hover {
      border-color: #919191;
    }

    &--current {
      border-color: #919191;
      border-bottom-color: #d3d3d3;

      &:hover {
        border-bottom-color: #d3d3d3;
      }
    }
  }

  &__text-box {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #919191;
  }

  &__description {
    position: absolute;
    top: 0;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    transform: translateY(-100%);
    opacity: 0.3;
    transition: all 0.5s;

    &--current {
      transform: translateY(0);
      opacity: 1;
    }

    &--hidden {
      visibility: hidden;
      top: 0;
      padding: 10px;
      text-align: justify;
      font-size: 20px;
      border-top: 1px solid #919191;
    }
  }
}